.cardWithText__container {
  height: 400px;
  width: 400px;
  border-radius: 10px;
}

.cardWithText__img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.cardWithText__popover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.cardWithText__secondary {
  display: flex;
}

/* cardWithText.css */
