/* Ordenado y mejorado para móviles en modo paisaje */
.presentation__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(60deg, #5d06fd, 25%, #6026ff, 75%, #7b66f3);
  border-radius: 18% 82% 100% 0% / 0% 0% 100% 100%;
  box-shadow: 6px 6px 29px #dedede, -6px -6px 29px #e2e2e2;
  padding-top: 2rem;
  height: auto;
  padding-top: 7%;

  @media (max-width: 1024px) and (orientation: landscape) {
    gap: 15px;
    padding: 1rem;
    padding-top: 6rem;
    justify-content: center;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    padding-top: 25%;
    gap: 20px;
  }
}

.textAndSpan__container {
  @media (max-width: 1024px) and (orientation: landscape) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Esto centra los elementos verticalmente si el contenedor es más alto */
    margin: auto;
    width: 100%;
  }
}

.presentationImage__container {
  @media (max-width: 1024px) and (orientation: landscape) {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

.presentation__container div {
  @media (max-width: 1024px) and (orientation: landscape) {
    width: 50% !important;
  }
}
.presentationText__element {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  gap: 10px;

  @media (max-width: 1024px) and (orientation: landscape) {
    width: 50%;
    text-align: left;
  }

  @media (max-width: 768px) {
    height: 200px;
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

.presentationText__element h1 {
  font-size: 6vh;
  font-weight: 500;
  color: #2b2b2b;

  @media (max-width: 1024px) and (orientation: landscape) {
    font-size: 4vh;
  }

  @media (max-width: 768px) {
    font-size: 3vh;
  }
}

.presentationText__element p {
  font-size: 2vh;
  font-weight: 400;
  color: #afafaf;

  @media (max-width: 1024px) and (orientation: landscape) {
    font-size: 1.8vh;
  }

  @media (max-width: 768px) {
    font-size: 1.8vh;
    margin: 0 25px;
  }
}

.presentationImage__element {
  height: auto;
  background-color: rgb(178, 168, 235);
  border-radius: 84% 16% 91% 9% / 50% 49% 51% 50%;

  @media (max-width: 1024px) and (orientation: landscape) {
    width: 40%;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 0 25px;
  }

  .presentationImage__element img {
    max-width: 100%;
    height: auto;
  }
}

.changeBannerColor__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5%;

  @media (max-width: 1024px) and (orientation: landscape) {
    justify-content: start;
  }
}

.changeBannerColor__container span {
  margin: 5px;
  width: 15px;
  height: 15px;
  background-color: #083d37;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 50%;

  @media (max-width: 768px) {
    width: 8px;
    height: 8px;
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    width: 8px;
    height: 8px;
    margin: 2px;
  }
}

.active__span {
  background-color: #e0e0e0;
  background: linear-gradient(145deg, #dddddd44, #ffffff);
  box-shadow: 32px 32px 79px #a7a7a7, -32px -32px 79px #ffffff;
}

.animated-image {
  transition: transform 0.5s ease-in-out;
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    margin-top: 10px; /* En lugar de usar translateY, usa margin */
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

/*Mision y vision*/

.flow-banner-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Ajusta según necesites */
}

.flow-banner-container {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  max-width: 1200px; /* Opcional: limita el ancho máximo */
  overflow: hidden; /* Oculta cualquier desbordamiento de la imagen */
}

.flow-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen ajustándose al contenedor */
  display: block;
}
/**/

.flow-banner__tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}

.flow-banner__heading {
  font-size: 4vh;
  color: #100c4b;
  font-weight: 700;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 3vh;
    text-align: left;
    width: 90%;
    margin-left: -25px;
  }
}

.flow-banner__paragraph {
  font-size: 2vh;
  line-height: 1.5;
  color: #222222;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 1.8vh;
    line-height: 1.4;
    text-align: justify; /* Mejora la lectura del texto */
    margin: 0 12px; /* Añade margen para que no toque los bordes */
  }
}

@keyframes slideBanner {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 2;
  }
}

/**/
.innovativeSection {
  margin-bottom: 25px;
  padding: 50px 20px;
  margin-top: 25px;
}

.innovativeSection__text {
  text-align: justify;
  color: #1a053f;
}

.text-container p {
  font-size: 18px;
  line-height: 1.6;
}

.innovative__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .text-container p {
    font-size: 22px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image_bg {
  border-radius: 62% 38% 22% 78% / 48% 36% 64% 52%;
  display: block;
  background-color: #6251fc;
}

.image-wrapper {
  max-width: 400px;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.cta-button {
  background-color: #6f00b9;
  color: white;
  padding: 12px 30px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: bold;
}

.cta-button:hover {
  background-color: #450083;
  transform: translateY(-2px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.text-container h2,
.text-container p {
  color: #ffffff !important;
}

@media (max-width: 768px) {
  .innovativeSection {
    flex-direction: column;
    text-align: center;
  }

  .text-container,
  .image-container {
    width: 100%;
  }
}

/**/

.benefits__container {
  display: flex;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.benefits__IconElement {
  width: 25px; /* Ajusta el tamaño según sea necesario */
  height: 25px;
  border-radius: 50%;
  border: 2px solid #0000001e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.benefits__description {
  color: #333333;
  text-wrap: wrap;
}
/**/

.mainServices__section {
  height: 100%;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.mainServices__container {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .mainServices__container {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* 3 columnas en pantallas más grandes */
  }
}

.service-card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  transition: transform 0.3s ease-in-out;
  width: 250px;
  height: 100%;
  box-shadow: 0px 0px 30px 3px rgba(36, 36, 36, 0.116);
}

.service-card:hover {
  transform: scale(1.035); /* Efecto hover */
}

.mainServices__container:hover > .service-card:not(:hover) {
  filter: blur(2px);
  transform: scale(0.9, 0.9);
}

.servicesText__container {
  width: 30%;
  margin: auto;
  padding: 20px;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.servicesText__paragraph {
  font-size: 18px;
  line-height: 1.5;
  padding: 5px;
}
/**/

.testBlog__Section {
  display: flex;
  justify-content: space-around;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.testimonials__section {
  background: linear-gradient(60deg, #1b004f, 25%, #3f007a, 75%, #6b00b2);
  width: 50%;
  padding: 2rem;
  height: 100%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.testimonial_card {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  height: 250px;
  box-shadow: 0px 0px 30px 3px rgba(36, 36, 36, 0.9);
  transition: box-shadow 0.3s ease-in-out;
  overflow-y: auto;
}

.testimonial_card:hover {
  box-shadow: 0px 0px 30px 3px rgba(95, 95, 95, 0.205);
  transition: box-shadow 0.3s ease-in-out;
}

.testimonials__divParent {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto !important;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

/* Barra de scroll personalizada para navegadores Webkit */
.testimonials__divParent::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* Cambia también para scroll horizontal */
}

.testimonials__divParent::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.testimonials__divParent::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Ajuste en flex para que los testimonios estén en 2 columnas */
.testimonials__container {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Dos columnas para pantallas grandes */
  gap: 20px;
  width: 100%;

  @media (max-width: 768px) {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}

.ctaTestimonials-button {
  background-color: #ffffff62;
  color: #3e00b3;
  font-weight: 600;
  border-radius: 0.375rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.445);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.ctaTestimonials-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff7c;
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.testimonials__heading {
  font-size: 4vh;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center; /* Centrar el texto */

  @media (max-width: 768px) {
    font-size: 3vh;
    text-align: left;
    margin-left: 20px;
    width: 90%;
  }
}

.cta-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #6b00b2; /* Ajusta los colores a tu diseño */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
  margin-top: 10px;
}

.cta-button:hover {
  background-color: #8b00cc; /* Color de hover */
  transform: translateY(-3px); /* Efecto de levantar ligeramente el botón */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.cta-button:active {
  transform: translateY(1px); /* Efecto cuando se hace clic */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ctaTalk__Section {
  color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.ctaTalk-button {
  background-color: #ffffff;
  color: #3e00b3;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 0.375rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.ctaTalk-button:hover {
  background-color: #3e00b3;
  color: #ffffff;
  transform: scale(1.05);
}

.blog__section {
  width: 50%;
  border-radius: 1rem;
  height: 100%;
  background-color: #d8bba0;

  @media (max-width: 768px) {
    width: 100%;
  }
}
