.presentation__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 25px;
  background: linear-gradient(60deg, #5d06fd, 25%, #6026ff, 75%, #7b66f3);
  border-radius: 18% 82% 100% 0% / 0% 0% 100% 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}

.presentationText__element h1 {
  font-size: 6vh;
  font-weight: 500;
  color: #f7f7f7;

  @media (max-width: 768px) {
    font-size: 3vh;
  }
}

.presentationText__element p {
  font-size: 2vh;
  font-weight: 400;
  color: #afafaf;

  @media (max-width: 768px) {
    font-size: 1.8vh;
    margin-left: 25px;
    margin-right: 25px;
  }
}

.presentationText__element {
  display: flex;
  flex-direction: column;
  width: 915px;
  height: auto;
  justify-content: center;
  gap: 10px;

  @media (max-width: 768px) {
    height: 200px;
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

.presentationImage__element {
  height: auto;
  position: relative;
  background-color: rgb(178, 168, 235);
  border-radius: 84% 16% 91% 9% / 50% 49% 51% 50%;

  @media (max-width: 768px) {
    width: 300px;
  }
}

.presentationImage__element img {
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.479));
}

.changeBannerColor__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5%;
}

.changeBannerColor__container span {
  margin: 5px;
  width: 15px;
  height: 15px;
  background-color: #ffffff49;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 50%;
}

.active__span {
  background-color: #e0e0e0;
  background: linear-gradient(145deg, #dddddd44, #ffffff);
  box-shadow: 32px 32px 79px #a7a7a7, -32px -32px 79px #ffffff;
}

@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated-image {
  animation: slideIn 0.6s forwards ease-out;
  transition: transform 0.5s ease-in-out;
}
