.footer-section {
  background: linear-gradient(
    135deg,
    rgba(232, 255, 247, 1) 25%,
    rgba(204, 255, 237, 1) 50%,
    rgba(194, 255, 234, 1) 75%,
    rgba(134, 255, 212, 1) 100%
  );
  color: #333;
}

.footer-section a:hover {
  color: #555;
}

.footer-contact-info div,
.footer-social-icons a {
  color: #333;
  transition: color 0.3s ease;
}

.footer-contact-info div:hover,
.footer-social-icons a:hover {
  color: #1b7f45;
}

.footer-section .container {
  max-width: 1200px;
}
