.nav_mobile {
  background-color: #100a3e;
  height: auto;
}

@keyframes particle-animation {
  0% {
    transform: translateY(0) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px) scale(1.5);
    opacity: 0;
  }
}

@keyframes light-pulse {
  0%,
  100% {
    box-shadow: 0 4px 10px #241785;
  }
  50% {
    box-shadow: 0 4px 20px #241785;
  }
}

.nav_desktop {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #100a3e;
  z-index: 100;
  border-bottom: 2px solid transparent;
  animation: light-pulse 2s infinite;
  position: absolute;
  width: 100%;
}

.nav__links-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.nav__links {
  margin: 25px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.nav__links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.nav__links:hover a {
  color: #535bf2;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.nav__links:hover {
  transform: scale(1.05);
}

.active_nav {
  position: relative; /* Asegúrate de que el elemento activo es relativo */
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out; /* Para una transición suave */
}
@media (max-width: 778px) {
  .active_nav {
    transform: scale(1.3);
  }
}
.active_nav::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%); /* Centra el pseudo-elemento */
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  animation: particle-animation 1s infinite;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.7);
}

.active_nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: -10px;
  left: 0;
  box-shadow: 0 -2px 5px #ffffffb3;
}

.logo_img {
  width: 50px;
  height: auto;
}
